<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519798594684-uhanfipa6reccop9lbuul7egivshfvnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519798594684-uhanfipa6reccop9lbuul7egivshfvnd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>519798594684-3amemj8t1c12t8tu23anfraun95d2846.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLTLb1pQO50T8156hbyds0P4qrJ5v_DZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>519798594684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.notesapp</string>
	<key>PROJECT_ID</key>
	<string>notesapp-e42f2</string>
	<key>STORAGE_BUCKET</key>
	<string>notesapp-e42f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519798594684:ios:07016d37384624f5de3df9</string>
</dict>
</plist>